@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- Dữ liệu sẽ được hiển thị ở đây trong các bài học sau -->
    </tbody>
</table>
